#div1{
    margin-left: 80%;
    
}
#score{
    font-size: large;
}
body{
    background-image: url("128347942-question-marks-scattered-on-white-background-quiz-doubt-poll-survey-faq-interrogation-query-backgrou (2).jpg");
}