#div1{
    margin-left: 75%;
}
body{
    background-image: url("128347942-question-marks-scattered-on-white-background-quiz-doubt-poll-survey-faq-interrogation-query-backgrou (2).jpg");
}
#lol{
    font-family: sans-serif;
    background-color: blueviolet;
    color: white;
}
#ANS{
    height: 60px;
    width: 200px;
}